.logo-container {
  top: 16%;
  width: 28%;
  position: absolute;
  left: 68%;
  display: block;
  // animation: fadeIn 10s linear;
}

 
  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    left: 0;
    width: 100%;
   
    z-index: 1;
  }


.logo-container {
  stroke: var(--color-tem);
  stroke-width: 1;
}

@media screen and (max-width: 1150px) {
  .logo-container {
    display: block;
  }
}
